/* COLORS */
$green: #00534d;
$gray: #666;
$white: #fff;
$borderGray: #dedede;
$overlayBg: #f4f1ee;

/* BREAKPOINTS */
$mobilePortrait: 480px;
$mobileLandscape: 600px;
$tabletPortrait: 768px;
$tabletLandscape: 1100px;
$desktop: 1200px;

/* Z-INDICES */
$overlayZ: 500;