@import '_variables';
@import '_fonts';
@import 'reset';
@import 'header';
@import 'home';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  font-family: $chronicle;
}

a {
  color: $gray;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
    color: $black;
  }
}

.content-area {
  margin-top: 70px;
  position: relative;
  z-index: $headerZ - 50;
  
  @media screen and (max-width: $tabletLandscape) {
    margin-top: 64px;
  }
  
  @media screen and (max-width: $mobileLandscape) {
    margin-top: 104px;
  }
}

.-min-size-tablet {
  @media screen and (max-width: $tabletLandscape) {
    display: none;
  }
}

.-max-size-tablet {
  @media screen and (min-width: $tabletLandscape + 1) {
    display: none;
  }
}

.-min-size-mobile {
  @media screen and (max-width: $mobileLandscape) {
    display: none;
  }
}

.-max-size-mobile {
  @media screen and (min-width: $mobileLandscape + 1) {
    display: none;
  }
}