@import '_variables';
@import 'reset';
@import 'header';
@import 'home';

@font-face {
  font-family: $verlag;
  src: url("../fonts/Verlag.woff2") format("woff2");
}

@font-face {
  font-family: $verlag;
  font-weight: bold;
  src: url('../fonts/Verlag-Black.eot');
  src: url("../fonts/Verlag-Black.eot#iefix") format("embedded-opentype"),
       url("../fonts/Verlag-Black.woff2") format("woff2"),
       url("../fonts/Verlag-Black.woff") format("woff"),
       url("../fonts/Verlag-Black.ttf") format("truetype"),
       url("../fonts/Verlag-Black.svg") format("svg");
}

@font-face {
  font-family: $chronicle;
  src: url('../fonts/Chronicle.eot');
  src: url("../fonts/Chronicle.eot#iefix") format("embedded-opentype"),
       url("../fonts/Chronicle.woff2") format("woff2"),
       url("../fonts/Chronicle.woff") format("woff"),
       url("../fonts/Chronicle.ttf") format("truetype"),
       url("../fonts/Chronicle.svg") format("svg");
}

@font-face {
  font-family: $chronicle;
  font-style: italic;
  src: url('../fonts/Chronicle-Italic.eot');
  src: url("../fonts/Chronicle-Italic.eot#iefix") format("embedded-opentype"),
       url("../fonts/Chronicle-Italic.woff2") format("woff2"),
       url("../fonts/Chronicle-Italic.woff") format("woff"),
       url("../fonts/Chronicle-Italic.ttf") format("truetype"),
       url("../fonts/Chronicle-Italic.svg") format("svg");
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 18px;
  font-family: $chronicle;
}

a {
  color: $gray;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
    color: $black;
  }
}

.content-area {
  margin-top: 70px;
  position: relative;
  z-index: $headerZ - 50;
  
  @media screen and (max-width: $tabletLandscape) {
    margin-top: 64px;
  }
}

.-min-size-tablet {
  @media screen and (max-width: $tabletLandscape) {
    display: none;
  }
}

.-max-size-tablet {
  @media screen and (min-width: $tabletLandscape + 1) {
    display: none;
  }
}